<h1 class="pt-2 mb-4">New User Account</h1>

<form action="/users" method="post">
  <p>
    <label for="username" class ="me-1 mb-2">Username</label>
    <input type="text" name="username" id="username">
  </p>
  <p>
    <label for="email" class="me-1 mb-2">Email</label>
    <input type="text" name="email" id="email">
  </p>
  <p>
    <label for="password" class="me-1 mb-2">Password</label>
    <input type="text" name="password" id="password">
  </p>
  <button class="btn btn-primary mt-2">Signup</button>
</form>
