<h1 class="pt-2 mb-4">Places</h1>

<p>
  <a href="/places/new" class="btn btn-primary mb-2">New place</a>
  
</p>

<ul class="list-unstyled">
  <% for place in @places %>
    <li><a href="/places/<%= place["id"] %>"><%= place["name"] %></a></li>
  <% end %>
</ul>

