<h1 class="pt-2 mb-4">New Place</h1>

<form action="/places" method="post">
  <p>
    <label for="name_input">Name</label>
    <input type="text" name="name" id="name_input">
  </p>

  <button class="btn btn-primary mt-3">Save</button>
</form>